@media screen and (min-width: 951px) {
    .content-card_news {
        width: 400px;
        height: 576px;
    }
}

@media screen and (min-width: 691px) and (max-width:950px) {
    .content-card_news {
        width: 224px;
        height: 420px;
    }
}

@media screen and (max-width:690px) {
    .content-card_news {
        width: 288px;
        height: 447px;
    }
}