@import url(./_place/navigation__list-items_place_header.css);
@import url(./_place/navigation__list-items_place_footer.css);
.navigation__list-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}