.techologies__title {
    font-family: Roboto Slab;
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width:690px) {
    .techologies__title {
        max-width: 288px;
        font-size: 30px;
        line-height: 40px;
        margin-left: 16px;
        margin-top: 16px;
    }
}

@media screen and (min-width: 691px) and (max-width:950px) {
    .techologies__title {
        max-width: 336px;
        font-size: 30px;
        line-height: 34px;
        margin-left: 40px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 951px) {
    .techologies__title {
        max-width: 344px;
        font-size: 40px;
        line-height: 46px;
        margin-left: 104px;
        margin-top: 80px;
    }
}