.navigation__item_place_header:last-child {
    margin-right: 0;
}

@media screen and (max-width:690px) {
    .navigation__item_place_header {
        margin: 16px 0;
        margin-right: 11px;
    }
}

@media screen and (min-width: 691px) and (max-width:950px) {
    .navigation__item_place_header {
        margin: 22px 0;
        margin-right: 34px;
    }
}

@media screen and (min-width: 951px) {
    .navigation__item_place_header {
        margin: 30px 0;
        margin-right: 34px;
    }
}