@import url(../blocks/page/page.css);
@import url(../blocks/text/text.css);
@import url(../blocks/link/link.css);
@import url(../blocks/navigation/navigation.css);
@import url(../blocks/footer/footer.css);
body {
    background-color: #F5F6F7;
    margin: 0 auto;
}

p,
h3,
ul,
section,
div,
blockquote,
article,
figure,
figcaption,
a {
    border: 1px solid blue;
}