.results__caption-text {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    max-width: 300px;
}

@media screen and (max-width:690px) {
    .results__caption-text {
        width: 280px;
    }
}