@import url(./____container/creator__container.css);
@import url(./__portret/creator__portret.css);
@import url(./__content/creator__content.css);
@import url(./__title/creator__title.css);
@import url(./__description/creator__description.css);
.creator {
    background-color: #fff;
    display: block;
}

@media screen and (max-width:690px) {
    .creator {
        max-height: 752px;
    }
}

@media screen and (min-width: 691px) and (max-width:950px) {
    .creator {
        max-height: 354px;
    }
}

@media screen and (min-width: 951px) {
    .creator {
        max-height: 624px;
    }
}